.hero {
  position: relative;
  width: 100%;
  min-height: 160vh; /* Ocupa a tela toda */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza na vertical */
  align-items: center;
  text-align: center;
  padding-top: 120px; /* Ajusta espaço para a navbar */
}

@media (min-width: 768px) { /* Ajuste para telas maiores */
  .hero {
    padding-top: 40px; /* Reduz no desktop */
  }
}

/* Fundo animado com cores da identidade */
.hero::before {
  content: "";
  position: absolute;
  top: -125%;
  left: -125%;
  width: 350%;
  height: 350%;
  background: conic-gradient(
    from 0deg,
    #0b2a66 30deg, #14459a 60deg, 
    #1a48e0 100deg, #173bb1 140deg, 
    #6d0096 180deg, #a0006c 220deg, 
    #d10070 260deg, #800080 300deg, 
    #0b2a66 340deg
  );
  animation: girarFundo 10s linear infinite;
  filter: blur(50px);
  z-index: -1;
}

/* Animação de rotação do fundo */
@keyframes girarFundo {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Seção Clientes */
.clientes {
  background-color: black;
  width: 100%;
  min-height: 400px;
  padding: 20px 10px;
  padding-top: 0px;
  text-align: center;
  position: relative;
  /*top: 300px; /* Diminuído de 180px para 100px */
  z-index: 1;
}

@media (min-width: 1024px) { /* Desktop */
  .clientes {
    top: 300px; /* Aplicando a Forma 2 no desktop */
  } 
}

@media (max-width: 767px) { /* Mobile */
  .clientes {
    margin-top: 250px; /* Mantém a Forma 1 */
    top: unset; /* Remove o ajuste do desktop */
  }
}

.clientes::before {
  content: "";
  position: absolute;
  top: -75px; /* Define o início do degradê, ajustável */
  left: 0;
  width: 100%;
  height: 90px; /* Define a altura da transição */
  background: linear-gradient(to bottom, rgba(11, 42, 102, 0), black 80%);
  z-index: 0; /* Mantém o degradê atrás do conteúdo */
}


/* Texto da Seção Clientes */
.clientes h2 {
  color: white;
  margin-bottom: 10px;
  position: relative;
  top: -60px; /* Move o título para cima */
  z-index: 2; /* Mantém ele acima do degradê */
}

/* Logos dos Clientes */
.clientesLogos {
  display: flex;
  flex-wrap: wrap; /* Para quebrar linha caso necessário */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  gap: 20px; /* Espaçamento entre as logos */
  width: 100%; /* Ocupa toda a largura */
  text-align: center;
  overflow: hidden;
}

.clientesLogos img {
  max-width: 120px;
  height: auto;
  filter: brightness(0) invert(1); /* Deixa os logos brancos */
}
