.container {
  width: 100%;
  padding: 4rem 0;
  text-align: center;
  background-color: #fff;
  overflow: hidden;
}

.title {
  font-size: 2.8rem; /* Aumentei o tamanho do título */
  font-weight: bold;
  color: #000;
  text-align: center;
}

.subtitle {
  font-size: 1.5rem;
  color: #444;
  margin-top: 0.5rem;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  overflow: hidden; /* Impede que o conteúdo vaze para os lados */
}

.serviceRow {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
  max-width: 900px;
  text-align: left;
  flex-wrap: wrap; /* Garante que os elementos fiquem empilhados no mobile */
}

.image {
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
}

.textContainer {
  flex: 1;
}

.serviceTitle {
  font-size: 1.9rem; /* Aumentei o tamanho do título */
  font-weight: 700;
  color: #000;
}

.descriptionBold {
  font-size: 1.3rem; /* Descrição principal um pouco maior */
  font-weight: bold;
  color: #333;
  margin-top: 0.5rem;
}

.descriptionSmall {
  font-size: 1rem; /* Terceira descrição menor */
  font-weight: normal;
  color: #666;
  margin-top: 0.3rem;
}
